body {
    background-color: #6699ff;
}

.answer-buttons {
  width: 900px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  grid-row-gap: 10%;
  grid-column-gap: 10%;
}

.audio {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.btn {
    background-color: #003399;
    font-size: 20px;
    color: #fff;
    border: 10px solid #000000;
    border-radius: 100px;
    /* margin: 10px 0px 20px 22em; */
}

#answer-1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

#answer-2 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

#answer-3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

#answer-4 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.btn:hover{

    background-color: #99ccff;
}


h1 {
  font-size: 50px;
  text-align: center;
}
